/* Layout for simple output 
   ========================================================================== */
   
 /* Responsive Video Embed */
 .embed-container {
   position: relative;
   padding-bottom: 56.25%;
   height: 0;
   overflow: hidden;
   max-width: 100%;
 }

 .embed-container iframe, .embed-container object, .embed-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }
 
 .video {
   padding-bottom: 40px;
 }

.slide {
  padding: 2em 0;
}

.slide-image {
  margin-bottom: 2em;
}

.slide .slide-notes p:first-child {
  margin-top: 0;
}

@media (min-width: 800px) {

  .slide {
    display: flex;
    justify-content: space-between;
  }

  .slide .slide-image {
    width: 48%;
    margin-bottom: 0;
  }

  .slide .slide-notes {
    width: 48%;
  }

}

.credits {
  opacity: 0.5;
}